name: tachkil
description: "Tachkil is the app for manager the tasks"
publish_to: 'none'

version: 1.0.0+1
environment:
  sdk: ^3.10.4

dependencies:
  flutter:
    sdk: flutter

  cupertino_icons: ^1.0.8
  google_fonts: ^6.3.3
  font_awesome_flutter: ^10.12.0
  icons_launcher: ^3.0.3
  provider: ^6.1.5+1
  flutter_datetime_picker_plus: ^2.2.0
  sqflite: ^2.4.2
  path: ^1.9.1
  shared_preferences: ^2.5.4

dev_dependencies:
  flutter_test:
    sdk: flutter

  flutter_lints: ^6.0.0


flutter:

  uses-material-design: true

  assets:
    - assets/logo/
